<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Default</title>
    <link rel="stylesheet" href="../style/headerfooter.css" />
    <link rel="stylesheet" href="../style/extra.css" />
    <script src="Datei.js" defer></script>
    <link rel="shortcut icon" href="../images/4Dudes-Photoroom.png" type="image/x-icon" />
    <link rel="stylesheet" href="../style/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="Logo">
        <a href="">
          <img src="../images/4Dudes-Photoroom.png" alt="Logo" sizes="50" />
          <h1>4Dudes</h1>
        </a>
      </div>
      <div class="nav">
        <a href="">
          <input type="button" value="Login" class="but" />
        </a>
        <a href="">
          <input type="button" value="ACCOUNT" class="but" />
        </a>
        <a href="">
          <input type="button" value="EINKAUFSWAGEN" class="but" />
        </a>
      </div>
    </header>

    <main>
      <div class="cardtitel">
        <h1>Willkommen auf der Startseite!</h1>
      </div>
      <div class="cardinfo">
        <p>
          Hier findest du alle Informationen zu unseren Produkten und Angeboten.
        </p>
        <p>
          INFORMATION für Herrn Kuti, der button oben in der Nav leiste mit
          Login, ist jetzt für testzwecke und zum zeigen des anmeldens da,
          dieser wird später entfernt und wenn man auf acc klickt wird das dann
          automatisch geprüft ob man angemeldet ist oder nicht. wenn man
          angemeldet sein sollte kommt man auf die account übersicht und wenn
          man nicht angemeldet ist, kommt man auf den login und kann dort dann
          auf registrieren wechseln.
        </p>
      </div>
      <div class="cardtext">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus
          mollitia assumenda animi officia laboriosam incidunt odio nobis
          eveniet molestiae amet dignissimos tempora sequi enim beatae nesciunt
          fugiat modi, temporibus cupiditate odit alias magni fuga dolor
          suscipit saepe? Fugiat soluta deserunt, autem cumque est natus
          corrupti debitis? Quas voluptatibus fuga incidunt mollitia unde
          debitis necessitatibus soluta alias! Veniam illo error ut impedit
          voluptate molestias dolorem modi hic animi eius quo amet porro officia
          nostrum laboriosam veritatis, consectetur, eos sint, placeat harum.
          Eos ullam minima autem laboriosam dolore perspiciatis, qui
          perferendis, mollitia, praesentium vel obcaecati culpa facere
          provident similique quos veritatis neque recusandae incidunt numquam
          nesciunt quia! Rerum, architecto ipsa? Cum architecto deserunt
          excepturi culpa dignissimos incidunt magnam velit numquam, optio,
          explicabo non officia, at debitis voluptas corrupti iste saepe.
          Incidunt cumque quia ratione delectus beatae rerum impedit quam magni
          hic vitae, porro corporis velit similique blanditiis aspernatur quo.
          Neque quidem modi omnis quibusdam fugit, aperiam rerum tempora,
          suscipit ab, nostrum a voluptate iusto quasi ducimus. Perferendis
          doloremque quidem qui ab aliquid asperiores enim pariatur mollitia
          placeat voluptatum. Enim excepturi, optio quidem est repellat ipsum
          minus maiores ullam deleniti ipsa, quisquam eius nam corporis! Modi
          quis totam architecto facilis voluptate vel officia.
        </p>
        <div class="buttonrow">
          <button class="button left">Mehr erfahren</button>
          <button class="button center">Mehr erfahren</button>
          <button class="button right">Mehr erfahren</button>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="items3">
        <img class="left" src="../images/4Dudes-Photoroom.png" alt="Logo" sizes="50" />
      </div>
      <div class="items3">
        <p class="center">
          <a href=""> Impressum </a>
          <a href=""> AGB's </a>
          <a href=""> Datenschutz </a>
        </p>
      </div>
      <div class="items3">
        <p class="right">&copy; 2026 4Dudes. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
