<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressum</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="shortcut icon"
      href="http://localhost:8000/images/4Dudes-Photoroom.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style/headerfooter.css" />
  </head>
  <body class="imprint-page">
    <header class="header">
      <div class="Logo">
        <a href="/index.html">
          <img
            src="http://localhost:8000/images/4Dudes-Photoroom.png"
            alt="Logo"
            sizes="50"
          />
          <h1>4Dudes</h1>
        </a>
      </div>
      <div class="nav">
        <a href="/views/products_overview.html">
          <input type="button" value="SHOP" class="but" />
        </a>
        <a href="/auth/login.html">
          <input type="button" value="Login" class="but" />
        </a>
        <a href="/views/account.html">
          <input type="button" value="ACCOUNT" class="but" />
        </a>
        <a href="/views/cart.html">
          <input type="button" value="EINKAUFSWAGEN" class="but" />
        </a>
      </div>
    </header>

    <main>
      <div class="page-container main-box">
        <p>
          <strong>Impressum</strong><br />
          Angaben gemäß § 5 TMG<br /><br />
          4 Dudes<br />
          Hochschule Albstadt-Sigmaringen<br />
          Anton-Günther-Straße 51<br />
          72488 Sigmaringen<br /><br />
          <strong>Vertreten durch:</strong><br />
          Fabian, Aljassem, Mehmet, Noah<br /><br />
          <strong>Kontakt:</strong><br />
          E-Mail: 4dudes@hs-albsig.de<br /><br /><br />
          <strong>Umsatzsteuer-ID:</strong><br />
          Umsatzsteuer-Identifikationsnummer: ...
        </p>
      </div>
    </main>

    <footer class="footer">
      <div class="items3">
        <img
          class="left"
          src="http://localhost:8000/images/4Dudes-Photoroom.png"
          alt="Logo"
          sizes="50"
        />
      </div>
      <div class="items3">
        <p class="center">
          <a href="/views/imprint.html"> Impressum </a>
          <a href="/views/agb.html"> AGB's </a>
          <a href="/views/datenschutz.html"> Datenschutz </a>
        </p>
      </div>
      <div class="items3">
        <p class="right">&copy; 2026 4Dudes. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
