<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produkt Detail</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/headerfooter.css" />
    <link rel="shortcut icon" href="../images/4Dudes-Photoroom.png" type="image/x-icon" />
    <script src="../scripts/fetchRequests.js"></script>
  </head>
  <body class="product_detail_view">
    <header class="header">
      <div class="Logo">
        <a href="index.html">
          <img src="../images/4Dudes-Photoroom.png" alt="Logo" sizes="50" />
          <h1>4Dudes</h1>
        </a>
      </div>
      <div class="nav">
        <a href="../auth/login.html">
          <input type="button" value="Login" class="but" />
        </a>
        <a href="account.html">
          <input type="button" value="ACCOUNT" class="but" />
        </a>
        <a href="cart.html">
          <input type="button" value="EINKAUFSWAGEN" class="but" />
        </a>
      </div>
    </header>
    <main>
      <div class="page-container main-box">
        <div class="product_detail_grid">
          <div class="picture_area_grid">
            <img id='pictureDetailSite' />
          </div>
          <div class="product_text_area_grid">
            <div class="product_detail_title">
              <h1 id="productTitle"></h1>
            </div>
            <div class="product_detail_information">
              <p id="productPrice"></p>
              <div class="product_detail_button_group">
                <button id="variant1">Schwarz</button>
                <button id="variant2">Gelb</button>
                <button id="variant3">Orange</button>
                <button id="variant4">Blau</button>
              </div>
              <div class="product_detail_amount_input">
                <p><strong>Anzahl:</strong></p>
                <button class="decrement_button" onclick="decrement()">-</button>
                <input class="amount_input" type="text" value="1" />
                <button class="increment_button" onclick="increment()">+</button>
              </div>
              <div class="product_detail_add_cart">
                <a href="cart.html">
                  <button id="add-cart">In den Warenkorb legen</button>
                </a>
              </div>
              <!--
              <div class="product_detail_short_descr">
                <!--
                <p id="productDescr">
                  <strong>Beschreibung:</strong><br />
                </p>
              </div>
            -->
            </div>
          </div>
        </div>
      </div>
      <div class="page-container main-box">
        <div class="product_detail_short_descr">
          <p id="productDescr">
            <strong>Beschreibung:</strong><br />
          </p>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="items3">
        <img class="left" src="../images/4Dudes-Photoroom.png" alt="Logo" sizes="50" />
      </div>
      <div class="items3">
        <p class="center">
          <a href="imprint.html"> Impressum </a>
          <a href="agb.html"> AGB's </a>
          <a href="datenschutz.html"> Datenschutz </a>
        </p>
      </div>
      <div class="items3">
        <p class="right">&copy; 2026 4Dudes. All rights reserved.</p>
      </div>
    </footer>
    <script>
      document.addEventListener('DOMContentLoaded', loadProductDetail);
      var inputField = document.querySelector('.amount_input');
      var i = 1;
      function increment() {
        i++;
        inputField.value = i;
      }

      function decrement() {
        if (i !== 1) {
          i--;
          inputField.value = i;
        }
      }
    </script>
  </body>
</html>
