<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produktdarstellung</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/headerfooter.css" />
    <link rel="shortcut icon" href="../images/4Dudes-Photoroom.png" type="image/x-icon" />
    <script src="/fetchRequests.js"></script>
  </head>
  <body class="products_overview">
    <header class="header">
      <div class="Logo">
        <a href="index.html">
          <img src="/images/4Dudes-Photoroom.png" alt="Logo" sizes="50" />
          <h1>4Dudes</h1>
        </a>
      </div>
      <div class="nav">
        <a href="../auth/login.html">
          <input type="button" value="Login" class="but" />
        </a>
        <a href="account.html">
          <input type="button" value="ACCOUNT" class="but" />
        </a>
        <a href="cart.html">
          <input type="button" value="EINKAUFSWAGEN" class="but" />
        </a>
      </div>
    </header>
    <main>
      <div class="page-container main-box">
        <div class="products_overview_grid">
          
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="items3">
        <img class="left" src="/images/4Dudes-Photoroom.png" alt="Logo" sizes="50" />
      </div>
      <div class="items3">
        <p class="center">
          <a href="imprint.html"> Impressum </a>
          <a href="agb.html"> AGB's </a>
          <a href="datenschutz.html"> Datenschutz </a>
        </p>
      </div>
      <div class="items3">
        <p class="right">&copy; 2026 4Dudes. All rights reserved.</p>
      </div>
    </footer>
    <script>
      document.addEventListener('DOMContentLoaded', loadAllProductsInOverview('/loadAllProducts'));
    </script>
  </body>
</html>
