<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Default</title>
    <link rel="stylesheet" href="../style/headerfooter.css" />
    <link rel="stylesheet" href="../style/extra.css" />
    <script src="Datei.js" defer></script>
    <link rel="shortcut icon" href="4Dudes-Photoroom.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header class="header">
      <div class="Logo">
        <a href="/frontend/index.html">
          <img src="./images/4Dudes-Photoroom.png" alt="Logo" sizes="50" />
          <h1>4Dudes</h1>
        </a>
      </div>
      <div class="nav">
        <a href="/frontend/auth/login.html">
          <input type="button" value="Login" class="but" />
        </a>
        <a href="/frontend/account.html">
          <input type="button" value="ACCOUNT" class="but" />
        </a>
        <a href="/frontend/cart.html">
          <input type="button" value="EINKAUFSWAGEN" class="but" />
        </a>
      </div>
    </header>

    <main>
      <div class="cardtitel">
        <h1>ERFOLGREICH ARTIKEL GEKAUFT</h1>
      </div>
      <div class="cardinfo">
        <p>
          Der Artikel wurde erfolgreich gekauft, vielen Dank für Ihren Einkauf
          bei 4Dudes.
        </p>
        <p>
          INFORMATION für Herrn Kuti, der button oben in der Nav leiste mit
          Login, ist jetzt für testzwecke und zum zeigen des anmeldens da,
          dieser wird später entfernt und wenn man auf acc klickt wird das dann
          automatisch geprüft ob man angemeldet ist oder nicht. wenn man
          angemeldet sein sollte kommt man auf die account übersicht und wenn
          man nicht angemeldet ist, kommt man auf den login und kann dort dann
          auf registrieren wechseln.
        </p>
      </div>
    </main>

    <footer class="footer">
      <div class="items3">
        <img class="left" src="4Dudes-Photoroom.png" alt="Logo" sizes="50" />
      </div>
      <div class="items3">
        <p class="center">
          <a href="/frontend/imprint.html"> Impressum </a>
          <a href="/frontend/agb.html"> AGB's </a>
          <a href="/frontend/datenschutz.html"> Datenschutz </a>
        </p>
      </div>
      <div class="items3">
        <p class="right">&copy; 2026 4Dudes. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
