* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background: url("werbung.jpg") no-repeat center;
  background-size: cover;*/
  margin: 0;
  font-family: Arial, sans-serif;
}
.items2-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}
.items2 {
  flex: 0 0 auto;
  width: 45%;
}
.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 40px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.login-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.login-form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: rgba(20, 100, 220, 0.8);
}
.login-form .input-group {
  position: relative;
}
.login-form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.login-form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.login-form .input-group input:focus + label,
.login-form .input-group input:valid + label {
  transform: translateY(-18px);
  color: rgba(20, 100, 220, 0.8);
  font-size: 0.8rem;
}
.register-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 40px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.register-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.register-form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: rgba(20, 100, 220, 0.8);
}
.register-form .input-group {
  position: relative;
}
.register-form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.register-form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.register-form .input-group input:focus + label,
.register-form .input-group input:valid + label {
  transform: translateY(-18px);
  color: rgba(20, 100, 220, 0.8);
  font-size: 0.8rem;
}
.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: rgba(20, 100, 220, 0.8);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
